  
  /* 改变 主题/样式相关 变量 */
$--color-primary: #1ABCB0;
$--select-option-hover-background: #def1f2;
$--select-option-selected-hover: #1abcb0;
$--table-row-hover-background: #f2f2f2;
$--table-header-color: #444;
$--pagination-button-disabled-fill: transparent;
$--pagination-fill: transparent;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* 改变 路径变量，必需 */
@import "~element-ui/packages/theme-chalk/src/index";
  body {
    margin: 0
  }
  
  html,
  body,
  #app,
  .el-container,
  .el-aside,
  .el-menu {
    height: 100%
  }


.el-header {
    background: $--table-header-color;
    color: #fff;
  }
  
  .form-box {
    width: 60%;
  }
  .el-menu-item.is-active {
    position: relative;
  }
  .el-menu-item.is-active {
    background: #fefbe6
  }
  
  .el-menu-item.is-active::before {
    display: block;
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
  }
  
  .block-title {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;
  }